---
layout: page
title: The Atlas
subtitle: Mapping the Histories and Data of Digitised Newspapers Collections Around the World
use-site-title: true
---

<p>Between 2017 and 2019, <a href="http://www.oceanicexchanges.org"><em>Oceanic Exchanges</em></a>, 
funded through the Transatlantic
Partnership for Social Sciences and Humanities 2016 <a href="https://diggingintodata.org">Digging into Data
Challenge</a>, brought together leading
efforts in computational periodicals research from six
countries—Finland, Germany, Mexico, the Netherlands, the United
Kingdom, and the United States—to examine patterns of information flow
across national and linguistic boundaries. Over the past thirty years,
national libraries, universities and commercial publishers around the
world have made available hundreds of millions of pages of historical
newspapers through mass digitisation and currently release over one
million new pages per month worldwide. These have become vital resources
not only for academics but for journalists, politicians, schools, and
the general public. However, these digitisation programmes share a
critical weakness: the very creation of national newspapers collections
obscures the fact that international news exchange was central to the
nineteenth-century press.</p>

<p>The <em>Atlas of Digitised Newspapers and Metadata</em> is an open access guide
to digitised newspapers around the world. Its initial selection is
limited in scope, being comprised of the ten databases (including the
aggregator Europeana) for which we were able to secure access and
licensing to the machine-readable data. Nonetheless, it aims to form the
foundation of a wider mapping of collections beyond its current North
Atlantic and Anglophone-Pacific focus. It brings together their
histories and digitisation choices with a deeper look at the language of
the digitised newspaper, the evolution of newspaper terminology and the
variety of metadata available in these collections. It explores how
machine-readable information about an issue, volume, page, and author is
stored in the digital file alongside the raw content or text, and
provides a controlled vocabulary designed to be used across disciplines,
within academia and beyond.</p>

<p>This report draws upon multiple taxonomies: our own <a href="http://www.doi.org/10.6084/m9.figshare.11560110">open access dataset</a>, 
which provides a full catalogue of
metadata fields across the collections, academic and industry
discussions­­ of the newspaper as a journalistic form and historical
artefact, digitisation guidelines and strategies, library websites,
annual reports, interviews with librarians and digitisation providers
and the data files themselves. The maps of this <em>Atlas</em> explore each of
our overarching categories in detail, providing a selection of language
variants, the technical definition we employed in the categorisation
process, and notes on its usage across the collections and in the wider
world of press history. This allows a greater understanding of how the
term is currently being used in different ways by different groups and
allows researchers to navigate to the specific type of information they
required and ascertain its availability across these collections. Each
entry also includes technical information for obtaining this data across
the collections, including data types, which often vary considerably,
and XPaths for locating the information within that dataset. With this
information, researchers should be able to understand the different
structures of these collections and develop computational means for
robustly comparing datasets to explore deeper and more meaningful
research.</p>

<p>After using the <em>Atlas</em>, we hope that readers will begin to understand
the great wealth of metadata available for digitised newspapers, much of
which is comparable across collections, nation and languages. As we
explored these collections, we found a sincere effort on the part of
librarians, scholars and commercial providers to converge upon a
knowledge system that allowed meaningful enquiry and reflected a
consistent layer (if not a complete reproduction) of these historical
artefacts. However, this seeming convergence does mask important
outliers and divergent interpretations of key bibliographic and
conceptual categories—divergences that we hope these maps will highlight
and encourage future digitisers to consider when building or expanding
their databases. In sum, the rise of digitisation promises great
opportunities for those who wish to engage with newspaper archives, but
as with all historical archives, digital collections require researchers
to be mindful of their shape, provenance and structure before any
conclusion can be drawn. It is the responsibility of both digitiser and
researcher to understand both the map and the terrain.</p>

<h2 id="suggested-citation">Suggested Citation</h2>

<p>Beals, M. H. and Emily Bell, with contributions by Ryan Cordell, Paul
Fyfe, Isabel Galina Russell, Tessa Hauswedell, Clemens Neudecker,
Julianne Nyhan, Mila Oiva, Sebastian Padó, Miriam Peña Pimentel, Lara
Rose, Hannu Salmi, Melissa Terras, and Lorella Viola. <em>The Atlas of
Digitised Newspapers and Metadata: Reports from Oceanic Exchanges</em>.
Loughborough: 2020. <a href="http://www.doi.org/10.6084/m9.figshare.11560059">DOI: 10.6084/m9.figshare.11560059</a></p>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: site.date_format }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
