---
layout: base
---

{% include header.html type="page" %}

<style>
	h2 {text-align: center; margin-top: 75px;}
	h3 {text-align: center; margin-top: 50px;}
	table {width:100%;}
	td:nth-child(1) {width: 15%;}
</style>


<div class="container" role="main">
  <div class="row">
    
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
        <div class="justcomments-comments">
          {% include just_comments.html %}
        </div>
	    {% endif %}
    
  </div>
</div>
