---
layout: base
---

{% include header.html type="page" %}

<style>
	h2 {text-align: center;}
	h3 {text-align: center;}
	table {width:100%;}
</style>


<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 ">
      {{ content }}
	    {% if page.comments %}
        <div class="disqus-comments">
	        {% include disqus.html %}
        </div>
	        {% include fb-comment.html %}
        <div class="staticman-comments">
          {% include staticman-comments.html %}
        </div>
        <div class="justcomments-comments">
          {% include just_comments.html %}
        </div>
	    {% endif %}
    </div>
  </div>
</div>
